.bodycss{
	background:url("../images/attendance.jpg");
	background-size:cover;
	font-size:12px;
	margin:0px;
	 
}
.containercss{
	margin:0px;
}
.top{
	margin:0px;
	padding:0px;
	width:100%; 
}
#title{
	font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 3.2em;
    color:white;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin: 0 auto;
    padding-top: 180px;
    max-width: 300px;
    text-align: center;
    position: relative;
    top: 0px;

}
.login-box{
	background-color: white;
    max-width: 340px;
    margin: 0 auto;
    position: relative;
    top: 60px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    text-align: center;
}
.box-header{
	background-color: #665851;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
}
.login-button{
	    margin-top: 0px;
    border: 0;
    border-radius: 2px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: 1px;
    background-color: #665851;
    cursor: pointer;
    outline: none;
}
